@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
    background-color: #eaeff1;
    font-family: Arial, Helvetica, sans-serif;
  }


img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }


  #container {
    margin-top: 20vh;
    display:flex;
    flex-direction: row;  
  }

 

  .card {
    
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 18px;
    border-radius: 12px;
    height: 30%;
    min-width: 100px;  
  }

  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  
  .card__details {
    padding: 16px 8px 8px 8px;
  }

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}